.catalog-browser {
    // max-width: 800px;
    // max-width: 480px;
    // min-width: 240px;
    display: flex;
    flex-flow: column;
    padding: 4px;
    user-select: none;
    position: relative;
    flex: 1 1;
    overflow: hidden;

    .settings-panel {
        position: absolute;
        background-color: #fff;
        border: 1px SOLID #d3d3d3;
        height: calc(100% - 2px);
        left: 0;
        width: calc(100% - 2px);
        z-index: 2;
        right: 0;
        top: 0;
        bottom: 0;
        display: grid;
        grid-template-rows: 40px auto 40px;
    }
}

.catalog-browser-header {
    display: grid;
    grid-template-columns: 40% auto;
}

.catalog-selector {
    position: relative;
    display: flex;
    flex-flow: row;
    min-width: 100px;
}

.product-configuration {
    flex: 1 1;
}

.catalog-categories-container {
    position: relative;
    display: flex;
    flex-flow: row;
}

.catalog-search-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 3px;
    height: 27px;
}

.catalog-search-settings-btn {
    color: #b7b7b7;
    line-height: 25px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 27px;
    position: relative;
    padding-right: 3px;
    margin-right: 3px;

    svg {
        transform: rotate(90deg);
        padding-bottom: 3px;
        padding-left: 3px;
    }
}

.catalog-search-input {
    flex: 1 1;
    height: 25px;
    padding: 0;
    border: 0;
    padding-left: 5px;
    background-color: #fff;
    outline-width: 0;
    font-size: 12px;
    border: 1px solid #b7b7b7;
    margin-right: 3px;
}

.catalog-list-root,
.catalog-categories-tree-list {
    position: absolute;
    top: 24px;
    min-width: 320px;
    width: calc(100% - 2px);
    height: 300px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #b7b7b7;
    display: flex;
    flex-flow: column;
    z-index: 2;
}

.catalog-categories-tree-list {
    overflow: auto
}

.catalog-list {
    overflow: auto;
}

.catalog-product-list-container {
    flex: 1 1;
    overflow: auto;
    border: 1px SOLID #d7d7d7;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-flow: row;
}

.catalog-product-list {
    position: relative;
    flex: 1 1;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 105px);
    grid-template-rows: repeat(auto-fill, 105px);
    grid-gap: 5px;
    justify-content: center;

    .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
    }
}

.catalog-product-list-mooble {
    margin-right: 4px;
}

.catalog-product-list-cic2 {
    margin-left: 4px;
}

.catalog-list-filter {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2px;

    input[type=text] {
        outline: none;
        flex: 1 1;
        margin-right: 4px;
    }
}

.catalog-search-btn-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.catalog-search-btn {
    padding: 4px;
    font-size: 10px;
    font-weight: bold;
    border: 2px SOLID #a3a3a3;
    border-radius: 6px;
    outline: none;
    background-color: #f3f3f3;
    display: flex;
    flex-flow: row;
    gap: 3px;
}

.catalog-search-btn:hover {
    background-color: #e3e3e3;
}

.catalog-search-btn:active {
    background-color: #d3d3d3;
}

// .catalog-search-filter-btn {
//     height: 27px;
//     width: 27px;
//     color: #b7b7b7;
//     padding: 0;
//     margin: 0;
//     border: 1px solid #b7b7b7;
//     background-color: #ffffff;
// }

// .catalog-search-filter-clear-btn {
//     height: 27px;
//     width: 10px;
//     font-size: 8px;
//     padding: 0;
//     margin: 0;
//     border: 1px solid #b7b7b7;
//     background-color: #ffffff;
//     border-left: none;
// }

.catalog-selector-toggle,
.catalog-categories-selector-toggle {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #b7b7b7;
    cursor: default;
    font-size: 12px;
    outline: none;
}

.catalog-selector-toggle-btn,
.catalog-categories-selector-toggle-btn {
    width: 24px;
    border: none;
    text-align: center;
    height: 20px;
    padding-left: 2px;
    outline: none;
    background-color: #f5f5f5;

    svg {
        margin-top: 4px;
    }
}

.catalog-selector-toggle-btn:hover,
.catalog-selector-toggle:hover,
.catalog-categories-selector-toggle-btn:hover,
.catalog-categories-selector-toggle:hover {
    color: #f8971d;
}

.catalog-selector-toggle-label,
.catalog-categories-selector-toggle-label {
    flex: 1 1;
    padding: 2px;
    text-align: left;
}

.catalog-entry {
    position: relative;
    display: flex;
    flex-flow: column;
}

.catalog-entry-uom-imperial {
    color: #6d98ad;
}

.catalog-entry-uom-metric {
    color: #3aa13a;
}

.catalog-entry-odd-row {
    background-color: #f8f8f8;
}

.catalog-entry-selector {
    display: grid;
    grid-template-columns: 20px auto 20px;
    align-items: center;
}

.catalog-entry-details {
    font-size: 10px;
    display: grid;
    grid-template-columns: 40px auto 60px;
    margin-left: 20px;
    margin-right: 4px;
}

.catalog-entry-timestamp {
    display: flex;
    flex-flow: row;
    margin-left: 20px;
    font-size: 10px;
}

.catalog-entry-details-label {
    font-weight: bold;
}

.catalog-status {
    text-align: right;
}

.catalog-activated {
    font-weight: bold;
}

.catalog-entry:hover {
    background-color: #ffd9aa;
}

.catalog-entry-select-only-btn {
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    color: #fff;
    background-color: #f8971d;
    position: absolute;
    top: 14px;
    right: 60px;
    border: 0;
    outline: 0;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    height: 14px;
}

.catalog-list-company {
    font-size: 14px;
    background-color: #ebebeb;
    color: #444;
    padding: 2px;
    border-radius: 4px;
    margin: 4px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.catalog-list-company-container {
    .catalog-entry {
        margin-left: 10px;
    }
}

.catalog-entry-select-only-btn:active {
    background-color: #ffc379;
}

.catalog-browser-results-container {
    flex: 1 1;
    display: flex;
    flex-flow: row;
    overflow: hidden;
}

// slider content
.catalog-browser-groups-section {
    // min-width: 100px;
    max-width: 80%;
    min-width: 140px;
    display: flex;
}

.catalog-browser-results-section {
    flex: 1 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}


.catalog-results-preview {
    display: flex;
    flex-flow: row;
    height: 27px;
    align-items: center;
    margin-top: 3px;
}

.catalog-results-nb-per-page {
    margin-left: 0 !important;
}

.catalog-results-preview-nb-per-page-btn {
    margin-top: 6px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.catalog-results-preview-btn {
    margin-left: 4px;
    font-size: 14px;
    color: #b7b7b7;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
    text-align: center;

    svg {
        margin-top: 4px;
    }
}

.catalog-results-count {
    position: relative;
    flex: 1 1;
    text-align: center;
    user-select: none;
    font-size: 12px;
}

.catalog-product-entry {
    position: relative;
    border: 1px solid #b7b7b7;
    background-color: #fff;
}

.catalog-product-variants-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    color: #28ad4b;
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px SOLID #d3d3d3;
    padding: 1px;
    border-radius: 3px;
}

.catalog-product-variants-list {
    position: absolute;
    width: 200px;
    max-height: 140px;
    overflow: auto;
    display: flex;
    flex-flow: column;
    padding: 4px;
    background-color: #fff;
    border: 2px SOLID #d3d3d3;
    z-index: 2;
}

.catalog-product-variant-entry {
    font-size: 10px;
    border: 1px SOLID #d3d3d3;
    border-radius: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    padding: 2px;
}

.catalog-product-variant-entry:hover {
    background-color: #a3a3a3;
    color: #f3f3f3;
}

.catalog-product-image-container {
    width: 105px;
    height: 105px;

    img {
        width: 103px;
        height: 103px;
    }
}

.catalog-product-no-image {
    text-align: center;

    span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 20px;
    }
}

.catalog-product-entry-selected {
    border: 1px solid #f8981d;
    outline: 1px SOLID #f8981d;
}

.catalog-product-entry-label {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    position: absolute;
    margin: 0;
    padding: 0 2px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 98px;
    color: black;
    z-index: 1;
    bottom: 1px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.catalog-product-tooltip {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: 120px;
    font-size: 10px;
    background-color: #f7f7f7;
    color: #000;
    border: 1px SOLID #d7d7d7;
    border-radius: 6px;
    left: -10px;
    right: 0;
    margin: auto;
    bottom: 20px;
    text-align: center;
    padding: 5px 0;
}

.catalog-product-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d7d7d7 transparent transparent transparent;
    box-sizing: inherit;
}

.catalog-product-entry-label:hover+.catalog-product-tooltip {
    visibility: visible;
}

.catalog-information-panel {
    font-size: 12px;
    color: #6f7173;
    border: 1px solid #b7b7b7;
    // margin-right: 3px;
    background-color: #e1e1e1;
}

.catalog-information-panel-toggle-btn {
    border: none;
    outline: none;
    height: 22px;
    background: none;
    color: #6f7173;
    padding: 4px 0 4px 6px;
    display: flex;
    flex-flow: row;
    width: 100%;
    text-align: left;

    span {
        flex: 1 1;
    }
}


.information-panel-toggle-logo {
    width: 20px;
    text-align: center;
}

.catalog-information {
    background-color: #fff;
    padding: 4px;
}

.catalog-information-row {
    display: grid;
    grid-template-columns: 80px auto;
    padding: 1px;

    section {
        display: grid;
        grid-template-columns: repeat(auto-fill, 60px);
        align-items: center;
        justify-items: center;
    }
}

.catalog-information-label {
    color: #f8971d;
}

.catalog-information-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 8;
    font-weight: bold;
    color: #000;
}

.catalog-browser-action-btn-container {
    height: 22px;
    text-align: right;
    margin-top: 3px;
    // margin-right: 3px;


    .catalog-action-btn:disabled {
        background-color: #c7c7c7;
    }

    .catalog-action-btn {
        background-color: #f8971d;
        display: inline-block;
        text-align: center;
        margin-left: 5px;
        height: 22px;
        line-height: 14px;
        border-radius: 2px;
        color: #ffffff;
        cursor: pointer;
        width: 68px;
        outline: none;
        border: none;
    }
}

.catalog-browser-action-btn-container {
    display: flex;

    .settings-btn {
        height: 22px;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
    }
}