.groups-browser-root {
    position: relative;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    overflow: hidden;
    flex: 1 1;


    .catalog-list-filter {
        margin-right: 10px;
    }
}

.groups-browser-actions-bar {
    display: flex;
    flex-flow: row;
    align-items: center;
}


.groups-browser-select-all-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    margin: 2px;
    background-color: #f3f3f3;
    border: 1px SOLID #d3d3d3;
    padding-right: 4px;

    span {
        flex: 1 1;
    }
}

.group-browser-sort-btns-container {
    align-items: end;
    gap: 10px;
    flex: 1 1;
    justify-items: flex-end;
    display: flex;
    flex-flow: row;
    justify-content: end;
}

.groups-browser-catalogs-list {
    position: relative;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    overflow: auto;
    flex: 1 1;
}

.groups-browser-root-no-catalogs {
    width: 200px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.group-entry {
    .loader {
        top: 5px;
        right: 24px;
    }
}

.group-entry,
.group-node-children {
    position: relative;
    display: flex;
    flex-flow: column;
}

.group-node-linenotch-cube {
    width: 4px;
    height: 2px;
    position: absolute;
    border-bottom: 2px SOLID #a5a5a5;
    left: -4px;
    top: 4px;
}

.group-node-linedown-cube {
    width: 4px;
    height: calc(100% - 11px);
    position: absolute;
    border-left: 2px DASHED #a5a5a5;
    left: 4px;
    top: 11px;
}

.group-node {
    position: relative;
    margin-bottom: 1px;
    margin-top: 1px;
}

.group-node-children {
    margin-left: 10px;
}

.group-node-header {
    display: grid;
    gap: 4px;
    align-items: center;
}

.group-selected {
    .group-node-name {
        background-color: #b7eff3;
        border: 1px SOLID #adadad;
        border-radius: 2px;
    }
}

.group-node-header-no-children {
    grid-template-columns: auto 20px;
    margin-left: 14px;
}

.group-node-header-wchildren {
    grid-template-columns: 10px auto 20px;
}

.group-node-name {}

.group-collapse-btn {
    position: absolute;
    font-size: 12px;
    right: 4px;
    top: 3px;
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
}

.group-node-collapse-btn {
    border: none;
    outline: none;
    background: none;
}

.group-entry-catalog-selector {
    display: flex;
    flex-flow: row;
    align-items: center;

    .group-entry-catalog-name {
        font-weight: bold;
        flex: 1 1;
        max-width: calc(100% - 32px);
        word-break: break-all;
    }

    .group-entry-catalog-info {
        margin-right: 6px;
        font-weight: bold;
    }

    .group-entry-catalog-date { 
        margin-right: 20px;
        font-size: 10px;
    }
}

.group-entry-catalog-detail-container {
    position: relative;

    background-color: #f3f3f3;
    border: 1px SOLID #d3d3d3;
    // border-radius: 4px;
    margin: 4px;
    padding-bottom: 2px;

    display: flex;
    flex-flow: column;
}

.group-entry-select-only-btn {
    position: absolute;
    color: #1d80ff;
    top: 20px;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    left: 4px;
    bottom: 0;
    margin: auto;
    height: 20px;
}

.group-entry-small {
    .group-entry-catalog-detail-container {
        .group-entry-select-only-btn {
            left: auto;
            right: 20px;
            top: 2px;
        }
    }   
}

.catalog-list-filter-btn {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 10px;
}


.catalog-list-refined-filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 22px;
    margin: 6px;
    height: auto;
    box-shadow: 2px 4px 6px #d3d3d3;
    display: flex;
    flex-flow: column;
    background-color: #fafafa;
    z-index: 2;
    padding-bottom: 10px;
    padding-left: 4px;
}


.catalog-list-refined-filter-section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.catalog-list-refined-filter-section-label {
    font-size: 14px;
    font-weight: bold;
}

.catalog-list-refined-filter-choice {
    display: flex;
    flex-flow: row;
    align-items: center;
}



.catalog-list-refined-filter-sort-choices-container, .catalog-list-refined-filter-choices-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    grid-template-rows: repeat(auto-fill, 20px);
    align-items: center;
}


.catalog-list-refined-filter-choice {

}
.catalog-list-refined-filter-choice-label {

}
.catalog-list-refined-filter-choice-option {

}

.company-catalog-list-root {
    display: flex;
    flex-flow: column;
    overflow: auto;    
}

.company-catalog-list-entry {
    display: flex;
    flex-flow: column;
}


.company-catalog-list-entry-name {
    font-size: 14px;
    font-weight: bold;
    margin: 4px;
    background-color: #8f8f8f;
    padding: 4px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.company-catalog-list-entry-catalogs {
    margin-left: 10px;
}