iframe {
    border: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li, div, button, fieldset, label, dl, dt, dd {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background-image: url(../public/assets/images/linen.png);
    min-width: 230px;
    overflow: auto;
}

#root {
    height: 100%;
    display: flex;
    flex-flow: column;
}

